.ReadMsgBody { width: 100%; background-color: #F6F6F6; }
.ExternalClass { width: 100%; background-color: #F6F6F6; }
body { width: 100%; background-color: #f6f6f6; margin: 0; padding: 0; -webkit-font-smoothing: antialiased; font-family: Arial, Times, serif }
table { border-collapse: collapse !important; mso-table-lspace: 0pt; mso-table-rspace: 0pt; }
        
@-ms-viewport{ width: device-width; }

@media only screen and (max-width: 639px){
.wrapper{ width:100%;  padding: 0 !important; }
}    

@media only screen and (max-width: 480px){ 
.centerClass{ margin:0 auto !important; }         
.imgClass{ width:100% !important; height:auto; }    
.wrapper{ width:320px; padding: 0 !important; }  
.header{ width:320px; padding: 0 !important; background-image: url(http://placehold.it/320x400) !important; }   
.container{ width:300px;  padding: 0 !important; }
.mobile{ width:300px; display:block; padding: 0 !important; text-align:center !important;}
.mobile50{ width:300px; padding: 0 !important; text-align:center; }
*[class="mobileOff"] { width: 0px !important; display: none !important; }
*[class*="mobileOn"] { display: block !important; max-height:none !important; }
}
