# Snippets for Email-Framwork

'.text.html':
  'Boiler Plate for Mails':
    'prefix': 'mail-boilerplate'
    'body': '''
      <!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
      <html lang="en">
      <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <title>$1</title>

        <style type="text/css">
        </style>
      </head>
      <body style="margin:0; padding:0; background-color:#F2F2F2;">

        <!--[if !mso]><!-- -->
        <img style="min-width:640px; display:block; margin:0; padding:0" class="mobileOff" width="640" height="1" src="images/spacer.gif">
        <!--<![endif]-->

        <center>
          <table width="100%" border="0" cellpadding="0" cellspacing="0" bgcolor="#F2F2F2">
              <tr>
                  <td align="center" valign="top">

                      $2

                  </td>
              </tr>
          </table>
        </center>
      </body>
      </html>
    '''

  'Mail Content':
    'prefix': 'mail-content'
    'body': '''
    <!-- Start Content -->
    <table width="$1" cellpadding="0" cellspacing="0" border="0" class="container">
      <tr>
        <td width="$1" class="mobile" style="font-family:arial; font-size:12px; line-height:18px;">
          $2
        </td>
      </tr>
    </table>
    <!-- End Content -->
    '''

  'Mail CSS':
    'prefix': 'mail-css'
    'body': '''
      /* CLIENT-SPECIFIC STYLES */
      body, table, td, a { -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
      table, td { mso-table-lspace: 0pt; mso-table-rspace: 0pt; }
      img { -ms-interpolation-mode: bicubic; }

      /* RESET STYLES */
      img { border: 0; line-height: 100%; outline: none; text-decoration: none; }
      table { border-collapse: collapse !important; }
      body { height: 100% !important; margin: 0 !important; padding: 0 !important; width: 100% !important; }

      /* iOS BLUE LINKS */
      a[x-apple-data-detectors] {
        color: inherit !important;
        text-decoration: none !important;
        font-size: inherit !important;
        font-family: inherit !important;
        font-weight: inherit !important;
        line-height: inherit !important;
      }

      /* MEDIA QUERIES */
      @media only screen and (max-width: 639px){
        .wrapper{ width:320px!important; padding: 0 !important; }
        .container{ width:300px!important;  padding: 0 !important; }
        .mobile{ width:300px!important; display:block!important; padding: 0 !important; }
        .mobile50{ width:150px!important; padding: 0 !important; }
        .center{ margin:0 auto !important; text-align:center !important; }
        .img{ width:100% !important; height:auto; }
        .header{ width:320px; padding: 0 !important; background-image: url(http://placehold.it/320x400) !important; }
        *[class="mobileOff"] { width: 0px !important; display: none !important; }
        *[class*="mobileOn"] { display: block !important; max-height:none !important; }
      }
    '''

  'Mail Grid 200 400':
    'prefix': 'mail-grid200-400'
    'body': '''
    <!-- Start Wrapper -->
    <table width="640" cellpadding="0" cellspacing="0" border="0" class="wrapper" bgcolor="#FFFFFF">
      <tr>
        <td height="10" style="font-size:10px; line-height:10px;">&nbsp;</td>
      </tr>
      <tr>
        <td align="center">

          <!-- Start Container -->
          <table width="600" cellpadding="0" cellspacing="0" border="0" class="container">
            <tr>
              <td width="200" class="mobile" style="font-family:arial; font-size:12px; line-height:18px;">
                $1
              </td>
              <td width="400" class="mobile" style="font-family:arial; font-size:12px; line-height:18px;">
                $2
              </td>
            </tr>
          </table>
          <!-- End Container -->

        </td>
      </tr>
      <tr>
        <td height="10" style="font-size:10px; line-height:10px;">&nbsp;</td>
      </tr>
    </table>
    <!-- End Wrapper -->
    '''

  'Mail Grid 400 200':
    'prefix': 'mail-grid400-200'
    'body': '''
      <!-- Start Wrapper -->
      <table width="640" cellpadding="0" cellspacing="0" border="0" class="wrapper" bgcolor="#FFFFFF">
        <tr>
          <td height="10" style="font-size:10px; line-height:10px;">&nbsp;</td>
        </tr>
        <tr>
          <td align="center">

            <!-- Start Container -->
            <table width="600" cellpadding="0" cellspacing="0" border="0" class="container">
              <tr>
                <td width="400" class="mobile" style="font-family:arial; font-size:12px; line-height:18px;">
                  $1
                </td>
                <td width="200" class="mobile" style="font-family:arial; font-size:12px; line-height:18px;">
                  $2
                </td>
              </tr>
            </table>
            <!-- End Container -->

          </td>
        </tr>
        <tr>
          <td height="10" style="font-size:10px; line-height:10px;">&nbsp;</td>
        </tr>
      </table>
    '''

  'Mail Grid 1':
    'prefix': 'mail-grid1'
    'body': '''
      <!-- Start Wrapper -->
      <table width="640" cellpadding="0" cellspacing="0" border="0" class="wrapper" bgcolor="#FFFFFF">
        <tr>
          <td height="10" style="font-size:10px; line-height:10px;">&nbsp;</td>
        </tr>
        <tr>
          <td align="center">

            <!-- Start Container -->
            <table width="600" cellpadding="0" cellspacing="0" border="0" class="container">
              <tr>
                <td class="mobile" style="font-family:arial; font-size:12px; line-height:18px;">
                  $1
                </td>
              </tr>
            </table>
            <!-- End Container -->

          </td>
        </tr>
        <tr>
          <td height="10" style="font-size:10px; line-height:10px;">&nbsp;</td>
        </tr>
      </table>
      <!-- End Wrapper -->
    '''

  'Mail Grid 2':
    'prefix': 'mail-grid2'
    'body': '''
      <!-- Start Wrapper -->
      <table width="640" cellpadding="0" cellspacing="0" border="0" class="wrapper" bgcolor="#FFFFFF">
        <tr>
          <td height="10" style="font-size:10px; line-height:10px;">&nbsp;</td>
        </tr>
        <tr>
          <td align="center">

            <!-- Start Container -->
            <table width="600" cellpadding="0" cellspacing="0" border="0" class="container">
              <tr>
                <td width="300" class="mobile" style="font-family:arial; font-size:12px; line-height:18px;">
                  $1
                </td>
                <td width="300" class="mobile" style="font-family:arial; font-size:12px; line-height:18px;">
                  $2
                </td>
              </tr>
            </table>
            <!-- End Container -->

          </td>
        </tr>
        <tr>
          <td height="10" style="font-size:10px; line-height:10px;">&nbsp;</td>
        </tr>
      </table>
      <!-- End Wrapper -->
    '''

  'Mail Grid 3':
    'prefix': 'mail-grid3'
    'body': '''
      <!-- Start Wrapper -->
      <table width="640" cellpadding="0" cellspacing="0" border="0" class="wrapper" bgcolor="#FFFFFF">
       <tr>
        <td height="10" style="font-size:10px; line-height:10px;">&nbsp;</td>
       </tr>
       <tr>
         <td align="center">

           <!-- Start Container -->
           <table width="600" cellpadding="0" cellspacing="0" border="0" class="container">
             <tr>
                 <td width="200" class="mobile" style="font-family:arial; font-size:12px; line-height:18px;">
                   $1
                 </td>
                 <td width="200" class="mobile" style="font-family:arial; font-size:12px; line-height:18px;">
                   $2
                 </td>
                 <td width="200" class="mobile" style="font-family:arial; font-size:12px; line-height:18px;">
                   $3
                 </td>
             </tr>
           </table>
           <!-- End Container -->

         </td>
       </tr>
       <tr>
         <td height="10" style="font-size:10px; line-height:10px;">&nbsp;</td>
       </tr>
      </table>
      <!-- End Wrapper -->
    '''

  'Mail Grid 4':
    'prefix': 'mail-grid4'
    'body': '''
      <!-- Start Wrapper -->
      <table width="640" cellpadding="0" cellspacing="0" border="0" class="wrapper" bgcolor="#FFFFFF">
        <tr>
          <td height="10" style="font-size:10px; line-height:10px;">&nbsp;</td>
        </tr>
        <tr>
          <td align="center">

            <!-- Start Container -->
            <table width="600" cellpadding="0" cellspacing="0" border="0" class="container">
              <tr>
                <td width="150" class="mobile" style="font-family:arial; font-size:12px; line-height:18px;">
                  $1
                </td>
                <td width="150" class="mobile" style="font-family:arial; font-size:12px; line-height:18px;">
                  $2
                </td>
                <td width="150" class="mobile" style="font-family:arial; font-size:12px; line-height:18px;">
                  $3
                </td>
                <td width="150" class="mobile" style="font-family:arial; font-size:12px; line-height:18px;">
                  $4
                </td>
              </tr>
            </table>
            <!-- End Container -->

          </td>
        </tr>
        <tr>
          <td height="10" style="font-size:10px; line-height:10px;">&nbsp;</td>
        </tr>
      </table>
      <!-- End Wrapper -->
    '''

  'Mail Grid 5':
    'prefix': 'mail-grid5'
    'body': '''
      <!-- Start Wrapper -->
      <table width="640" cellpadding="0" cellspacing="0" border="0" class="wrapper" bgcolor="#FFFFFF">
        <tr>
          <td height="10" style="font-size:10px; line-height:10px;">&nbsp;</td>
        </tr>
        <tr>
          <td align="center">

            <!-- Start Container -->
            <table width="600" cellpadding="0" cellspacing="0" border="0" class="container">
              <tr>
                <td width="120" class="mobile" style="font-family:arial; font-size:12px; line-height:18px;">
                  $1
                </td>
                <td width="120" class="mobile" style="font-family:arial; font-size:12px; line-height:18px;">
                  $2
                </td>
                <td width="120" class="mobile" style="font-family:arial; font-size:12px; line-height:18px;">
                  $3
                </td>
                <td width="120" class="mobile" style="font-family:arial; font-size:12px; line-height:18px;">
                  $4
                </td>
                <td width="120" class="mobile" style="font-family:arial; font-size:12px; line-height:18px;">
                  $5
                </td>
              </tr>
            </table>
            <!-- End Container -->

          </td>
        </tr>
        <tr>
          <td height="10" style="font-size:10px; line-height:10px;">&nbsp;</td>
        </tr>
      </table>
      <!-- End Wrapper -->
    '''

  'Mail img':
    'prefix': 'mail-img'
    'body': '''
      <img src="images/$1" width="$2" height="$3" style="margin:0; padding:0; border:none; display:block;" border="0" class="imgClass" alt="$4">
    '''

  'Mail Block Mobile':
    'prefix': 'mail-mobileblock'
    'body': '''
      <!--[if !mso]><!-- -->
      <div class="mobileOn" style="font-size: 0; max-height: 0; overflow: hidden; display: none">
        <table width="320" cellspacing="0" cellpadding="0" border="0" class="mobile" align="center">
          <tr>
            <td align="center" style="color: #000000; font-size: 12px; line-height: 18px;">
              $1
            </td>
          </tr>
        </table>
      </div>
      <!--<![endif]-->
    '''

  'Mail mspace':
    'prefix': 'mail-mspace'
    'body': '''
      <td height="$1" style="font-size:$1px; line-height:$1px;" class="mobileOn">&nbsp;</td>
    '''

  'Mail Row':
    'prefix': 'mail-row'
    'body': '''
      <tr>
        <td align="center" valign="top">
          $1
        </td>
      </tr>
    '''

  'Mail Space':
    'prefix': 'mail-space'
    'body': '''
      <tr>
        <td height="$1" style="font-size:$1px; line-height:$1px;">&nbsp;</td>
      </tr>
    '''
